#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 2rem 1rem 2rem;
  text-align: center;
}

.container {
  margin-top: 1em;
}

.cat-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-pic {
  object-fit: contain;
  margin-top: 2em;
  width: 400px;
  height: 400px;
  background-color: cornsilk;
  border-radius: 10px;
}

button.discover {
  font-size: 1.2em;
  margin-top: 2em;
  background-color: #676565;
  color: #f9f9f9;
  padding: .7em 2em;
}
button.discover:hover {
  border-color: #646cff;
  background-color: #f9f9f9;
  color: #1a1a1a;
}

button.attribute {
  font-size: 1.05em;
  margin-top: 2em;
  background-color: #f89d48;
  color: #f9f9f9;
  padding: .5em 1em;
  margin-right: 10px;
}
button.attribute:last-child {
  margin-right: 0;
}
button.attribute:hover {
  background-color: #f9f9f9;
  color: #f89d48;
  border-color: #f89d48;
}

.left-sidebar {
  position: fixed;
  background-color: #d4d4d4;
  top: 0;
  right: 0;
  height: 100%;
  width: 220px;
  padding: 1em 0.8em;
  overflow-y: scroll;
}

.ban-attribute {
  background-color: #fb6544;
  color: #f9f9f9;
  padding: .3em 0.7em;
  font-size: 14px;

}

.attributes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}

.attributes-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}

.right-sidebar {
  position: fixed;
  background-color: #e3e3e380;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  padding: 1em 0.8em;
  overflow-y: scroll;
}

.history {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.history img {
  object-fit: cover;
  width: 100px;
  height: 80px;
  border-radius: 10px;
}

.history p {
  margin-top: 0.2em;
  font-size: 1.1em;
}
